<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>---------</title>
    <script src="../../js/vue/vue.js"></script>
    <script src="../../js/bootstrap/bootstrap.min.js"></script>
    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script src="../../js/marked.js"></script>
    <link href="../../css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="blog.css" rel="stylesheet">
    <link href="../code.css" rel="stylesheet">
</head>
<script type="text/x-template" id="left">
    <div>
        <div>
            <h4 class="my-0 font-weight-normal"> {{ ci }} </h4>
            <h3>最新</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item" v-for="item in lcdata">{{ item.title }}</li>
        </ul>
    </div>
</script>

<script type="text/x-template" id="right">
    <div>
        <div>
            <h4 class="my-0 font-weight-normal"> {{ ci }} </h4>
            <h3>content</h3>
        </div>
        <ol>
            <li v-for="item in host_stata"> {{ item.title }}</li>
        </ol>
    </div>
</script>

<script type="text/x-template" id="head_template">
    <header class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </nav>
        <!--<h3 class="text-muted">HanLaotwo的个人网站</h3>-->
    </header>
</script>

<script type="text/x-template" id="mid">
    <div v-html = "content"></div>
</script>



<body>

<div class="container" id="blog">

    <header_com></header_com>
    <div class="row">
        <left class="col-md-3"></left>
        <mid class="col-md-6"></mid>
        <right class="col-md-3"></right>
    </div>
    <footer class="footer">
        <p>&copy; Company 2017</p>
    </footer>
</div>

<script src="left_content.js"></script>
<script src="right_content.js"></script>
<script src="mid_conetnt.js"></script>
<script src="../public/header.js"></script>
<script src="blog.js"></script>
</body>
</html>
